<div class="row">
	<div id="breadcrumb" class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Agendamentos</a></li>
			<li><a href="#">Pré-Agendar Solicitação</a></li>
		</ol>
	</div>
</div>
<h4 class="page-header">Pré-Agendar Solicitação</h4>

<%= render 'form' %>

<!--

<%= link_to 'Show', @calendar %> |
<%= link_to 'Back', calendars_path %>

-->