<div class="row">
	<div id="breadcrumb" class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Cadastros - Funcionários</a></li>
		</ol>
	</div>
</div>
<h4 class="page-header">Editar Cadastro</h4>
<%= render 'form' %>

